div.NavMenu {
  background-color: #eee !important;
  padding: 10px;
}

a.WorkspaceGroupItem {
  font-weight: bold !important;
}

i.centeredIcon {
  padding-left: 6px !important;
}

div.sortable-ghost {
  background-color: #444;
}

div.sortable-drag {
  opacity: 5%;
}