footer.page-footer
  .container
    .row
      .col.s5
        h5.white-text Footer content
        p.grey-text.text-lighten-4 Lorem ipsum dolor sit amet.
      .col.s2
      .col.s5
        h5.white-text Links
        ul
          li.grey-text.text-lighten-3 Link 1
          li.grey-text.text-lighten-3 Link 2
  .footer-copyright
    .container
      .row.footer-bottom
        .col.s10
          p © 2014 Copyright Liam Brennan
        .col.s2
          p.grey-text.text-lighten-4 More Links