doctype html
html
  head
    title Todone
    link(rel='stylesheet' href='/styles/index.css')
    link(rel='stylesheet' href='/bower_components/materialize/dist/css/materialize.min.css')
  body
    nav
      .nav-wrapper
        a.brand-logo(href="#") Todooo
        //- a.button-collapse(href="#" data-activates="mobile-demo")
        //-   i.material-icons menu
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a navbar
              
    .content-container
      include index.pug
        
    include footer.pug
  
  script(crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js")
  script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")
  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/bower_components/materialize/dist/js/materialize.min.js")
  script(src="/bundle.js")