doctype html
html
  head
    title Todone
    link(rel='stylesheet' href='/styles/index.css')
    link(rel='stylesheet' href='/bower_components/materialize/dist/css/materialize.min.css')
  body
    nav
      .nav-wrapper
        a.brand-logo(href="#") Todone
        //- a.button-collapse(href="#" data-activates="mobile-demo")
        //-   i.material-icons menu
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a navbar
              
    .content-container
      block content
    
    footer.page-footer
      .container
        .row
          .col.s5
            h5.white-text Footer content
            p.grey-text.text-lighten-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .col.s2
          .col.s5
            h5.white-text Links
            ul
              li.grey-text.text-lighten-3 Link 1
              li.grey-text.text-lighten-3 Link 2
              li.grey-text.text-lighten-3 Link 3
      .footer-copyright
        .container
          .row
            .col.s10
              p © 2014 Copyright Liam Brennan
            .col.s2
              p.grey-text.text-lighten-4 More Links
  
  script(src="/bower_components/jquery/dist/jquery.min.js")
  script(src="/bower_components/materialize/dist/js/materialize.min.js")
  script(src="/scripts/index.js")