doctype html
html
  head
    title Todone
    link(rel='stylesheet' href='/node_modules/semantic-ui-css/semantic.min.css')
    //- link(rel='stylesheet' href='/styles/semantic.chubby.min.css')
    link(rel='stylesheet' href='/styles/index.css')
  body        
    .content-container
      include index.pug
  
  //- production
  //- script(crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js")
  //- script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")
  
  //- development
  script(crossorigin src="https://unpkg.com/react@16/umd/react.development.js")
  script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js")
  
  script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
  script(src="/bundle.js")