doctype html
html
  head
    title Todone
    //- link(href='http://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    //- link(rel='stylesheet' href='/node_modules/semantic-ui/dist/semantic.min.css')
    link(rel='stylesheet' href='/styles/semantic.chubby.min.css')
    link(rel='stylesheet' href='/styles/index.css')
  body
    nav
      .nav-wrapper
        a.brand-logo(href="#") Todooo
        //- a.button-collapse(href="#" data-activates="mobile-demo")
        //-   i.material-icons menu
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a navbar
              
    .content-container
      include index.pug
  
  //- production
  //- script(crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js")
  //- script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js")
  
  //- development
  script(crossorigin src="https://unpkg.com/react@16/umd/react.development.js")
  script(crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js")
  
  script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
  script(src="/bundle.js")